In [7]:
import pandas
df1 = pandas.DataFrame([[1],[2,3,4],[3]])
df1

   0    1    2
0  1  NaN  NaN
1  2  3.0  4.0
2  3  NaN  NaN

In [8]:
print("hello")

hello

In [9]:
print(3+5)

8

In [10]:
a=8
b=15
c=20

In [11]:
d=a*b*c

In [12]:
print(d)

2400